{% extends 'authapp/layout.html'%}
{% block title %} hi {% endblock %}
{% block page %}
<form action="" method="post">
    {% csrf_token%}
    <div class="mb-3">
        <label for="exampleInputName" class="form-label">Имя и Фамилия</label>
        <input type="text" class="form-control" id="exampleInputName"   name="fullname" placeholder="Ваши Имя и Фамилия" required>
    </div>
    <div class="mb-2">
    <label for="inputAddress" class="form-label">Номер телефона</label>
    <input type="text" class="form-control" id="inputAddress" name="number" placeholder="Ваш номер телефона" required>
    </div>
    <div class="mb-3">
        <label for="exampleInputAddress" class="form-label">Адрес проживания</label>
        <input type="text" class="form-control" id="exampleInputAddress"   name="address" placeholder="Ваш адрес проживания" required>
    </div>
     <div class="mb-3">
         <label for="exampleInputAddress" class="form-label">Пол</label>
          <select class="form-control mt-2" id="gender" name="gender" required>
            <option selected>Ваш пол</option>
            <option value="Мужчина">Мужчина</option>
            <option value="Женщина">Женщина</option>
          </select>
        </div>
    <div class="mb-3">
          <label for="exampleInputDate" class="form-label">Дата рождения</label>
          <input type="date" class="form-control mt-2" id="exampleInputDate" name="DOB" placeholder="Ваша дата рождения" required />
        </div>
     <div class="mb-3">
         <label for="exampleInputAddress" class="form-label">План абонемента</label>
         <select  class="form-control mt-2" id="member" name="member"  required>
             <option selected>Выберите план абонемента</option>
                {% for  p in Membership %}
             <option value="{{p.plan}} - {{p.price}}">{{p.plan}} Месяцев - {{p.price}} Тенге </option>
                {% endfor %}
                </select>
            </div>
     <button type="submit" class="btn btn-primary">Войти</button>
</form>
{% endblock %}
{% block content %}
 <p>
                    <a class="nav_link" href="/">На главную</a>
        </p>
{% endblock %}