{% extends 'authapp/layout.html'%}
{% block title %} hi {% endblock %}
{% block content %}
   <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">

                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Telefon</th>
                        <th scope="col">Plan</th>
                        <th scope="col">Data</th>
                      </tr>
                    </thead>
                    <tbody>

                     {% for c in clients %}
                        <tr>
                            <td>{{ c.id }}</td>
                            <td>{{ c.PhoneNumber }}</td>
                            <td>{{ c.SelectMembershipPlan }}</td>
                            <td>{{ c.TimeStamp }}</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>

            </div>
        </div>
   </div>
{% endblock %}