{% extends 'authapp/layout.html'%}
{% block title %} hi {% endblock %}
{% block page %}
{% for post in posts %}
    <ul class="list-group">
        <li class="list-group-item bg-warning text-dark"><h5>Имя Фамилия : {{post.FullName}}</h5></li>
        <li class="list-group-item bg-warning text-dark"><h5>Пол : {{post.Gender}}</h5></li>
        <li class="list-group-item bg-warning text-dark"><h5>Номер Телефона : {{post.PhoneNumber}}</h5></li>
        <li class="list-group-item bg-warning text-dark"><h5>Дата Рождения : {{post.DOB}}</h5></li>
        <li class="list-group-item bg-warning text-dark"><h5>План Абонемента : {{post.SelectMembershipPlan}}</h5></li>
        <li class="list-group-item bg-warning text-dark"><h5>Аддрес Проживания : {{post.Address}}</h5></li>
        <li class="list-group-item bg-warning text-dark"><h5>Дата Регистрации : {{post.TimeStamp}}</h5></li>
      </ul>
      {% endfor %}
    {% endblock %}
{% block content %}
 <p>
                    <a class="nav_link" href="/">На главную</a>
        </p>
{% endblock %}
