{% extends 'authapp/layout.html'%}
{% block title %} hi {% endblock %}
 {% block content %}
 <p>
                    <a class="nav_link" href="/">На главную</a>
        </p>
{% endblock %}
{% block page %}
<div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">

                <table class="table">
                    <thead>
                      <tr  style="color:white; border: solid; background-color: black">
                        <th scope="col">Id</th>
                        <th scope="col">Фамилия Имя</th>
                        <th scope="col">Телефон</th>
                        <th scope="col">План</th>
                        <th scope="col">Дата</th>
                      </tr>
                    </thead>
                    <tbody>

                     {% for c in clients %}

                        <tr style="color:white; border: solid; background-color: black ">
                            <td>{{ c.id }}</td>
                            <td>{{ c.FullName }}</td>
                            <td>{{ c.PhoneNumber }}</td>
                            <td>{{ c.SelectMembershipPlan }}</td>
                            <td>{{ c.TimeStamp }}</td>
                            <td>
                                <a href="/delete/{{c.id}}">Удалить</a>
                            </td>
                        </tr>

                      {% endfor %}

                    </tbody>
                  </table>

            </div>
        </div>

   </div>
</div>

        <a class="btn btn-primary m-2" href="pdf">PDF</a>

    </div>
{% endblock %}