{% extends 'authapp/layout.html'%}
{% block title %} hi {% endblock %}
{% block content %}
<p class="lead">
                    <a class="btn btn-primary btn-lg" href="{% url 'home' %}" role="button">На главную</a>
                </p>
<form action="/login" method="post">
    {% csrf_token%}
    <div class="mb-2">
    <label for="inputAddress" class="form-label">Номер телефона</label>
    <input type="text" class="form-control" id="inputAddress" name="usernumber" placeholder="Ваш номер телефона" required>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Пароль</label>
        <input type="password" class="form-control" id="exampleInputPassword1"   name="pass1" placeholder="Ваш пароль" required>
    </div>
     <button type="submit" class="btn btn-primary">Войти</button>
</form>
    <br><a href="/signup">Нет аккаунта?</a>
{% endblock %}