{% extends 'authapp/layout.html'%}
{% block title %} hi {% endblock %}
 {% block content %}
    <h1 class="display-4">Регистрация клиентов</h1>
                <p class="lead">Эта программа создана в целях ведения учёта клиентов тренажерного зала</p>
                <hr class="my-4">
     {% if not request.user.is_authenticated %}
        <p class="lead">
                    <a class="btn btn-primary btn-lg" href="signup" role="button">Регистрация</a>
        </p>
            {% else %}
         <p class="lead">
                    <a class="btn btn-primary btn-lg" href="logout" role="button">Выйти</a>
        </p>
        <p class="lead">
                    <a class="btn btn-primary btn-lg" href="/" role="button">Добро пожаловать</a>
                </p>
        <p class="lead">
                    <a class="btn btn-primary btn-lg" href="join" role="button">Заполните анкету</a>
        </p>
        <p class="lead">
                    <a class="btn btn-primary btn-lg" href="profile" role="button">Профиль</a>
        </p>
         {% endif %}

     <p class="lead">
                    <a class="btn btn-primary btn-lg" href="report" role="button">Панель администратора</a>
        </p>
    {% endblock %}
