{% extends 'authapp/layout.html'%}
{% block title %} hi {% endblock %}
 {% block content %}
    <p class="lead">
                    <a class="btn btn-primary btn-lg" href="{% url 'home' %}" role="button">На главную</a>
                </p>
   {% for message in messages %}
    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
      <strong></strong> {{message}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

<form action="/signup" method="post">
        {% csrf_token%}
        <div class="col-12">
    <label for="inputAddress" class="form-label">Номер телефона</label>
    <input type="text" class="form-control" id="inputAddress" name="usernumber" placeholder="Ваш номер телефона (знак + не нужен)" required>
  </div>
    <div class="mb-2">
    <label for="exampleInputEmail1" class="form-label">Email адрес</label>
    <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" placeholder="Ваша электронная почта" required>
    <div id="emailHelp" class="form-text">Ваш адрес будет в сохранности.</div>
  </div>
  <div class="mb-1">
    <label for="exampleInputPassword1" class="form-label">Пароль</label>
    <input type="password" class="form-control" name="pass1" id="exampleInputPassword1" placeholder="Ваш пароль" required>
  </div>
    <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label"></label>
    <input type="password" class="form-control" name="pass2" id="exampleInputPassword2" placeholder="Подтвердите Ваш пароль" required>
  </div>

  <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
</form>
    <br><a href="/login">Уже есть аккаунт?</a>
    {% endblock %}